.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.node {
  cursor: pointer;
  fill: white;
  stroke-width: 10;
}


.container-undo-manager {
  width: 50%;
  height: 50%;
  margin-top: 40%;
  display: flex;
  justify-content: space-around;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}




.App {
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  margin-left: 5px;
  padding: 0 5px;
  border: 1px solid #ccc;
}

.right-title {
  padding-bottom: 1px;
  border-bottom: 1px solid #ccc;
  font-size: 1.1em;
  font-weight: 600;
}

.controls {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 50px;
  height: 50px;
  margin-bottom: 70px;
}

.actions {
  display: flex;
  margin-top: 5px;
  height: 100%;
  justify-content: space-between;
}

.logs {
  display: flex;
  justify-content: space-between;
}

.logs > * {
  flex: 1;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: #FF4742;
}
